<p id="notice"><%= notice %></p>

<h1>Announcement email will be sent!</h1>

<p>
  <strong>lunchtime:</strong>
  <%= @lunch_event.lunchtime %>
</p>

<p>
  <strong>Group:</strong>
  <%= @lunch_event.group %>
</p>

<p><strong>Announcement email sent:</strong>

  <%= @lunch_event.announcement_email_sent %>
  <%= link_to 'Announce Lunch!', announce_lunch_event_path(@lunch_event) %>
</p>

<%= link_to 'Edit', edit_lunch_event_path(@lunch_event) %> |
<%= link_to 'Back', lunch_events_path %>
